/*NAVBAR*/

nav{
background:#171717;

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 60px;

position:sticky;

top:0;

z-index:999;
}


nav h1{
color:rgb(0, 131, 253);

font-size:40px;

font-weight:bold;
}


nav ul{

display:flex;

gap:35px;

list-style:none;
}


nav ul li a{

color:hsla(0, 0%, 100%, 0.973);

text-decoration:none;

font-size:18px;
}


nav ul li a:hover{

color:#ff1f62;
}


.search-bar{

display:flex;

gap:15px;

align-items:center;
}


.search{

padding:10px 15px;

border:none;

border-radius:25px;

width:250px;

font-size:14px;
}


nav button{

background:#1f6fff;

color:white;

border:none;

padding:14px 30px;

border-radius:40px;

cursor:pointer;

font-size:16px;
}


nav button:hover{

transform:scale(1.05);

transition:.3s;

background:#1550cc;
}


/* MOBILE */

@media(max-width:768px){

nav{

flex-direction:column;

gap:20px;

padding:15px 20px;
}

nav ul{

flex-direction:column;

gap:10px;

width:100%;
}

.search-bar{

flex-direction:column;

width:100%;
}

.search{

width:100%;
}

nav button{

width:100%;
}

}

#category{
padding:60px 5%;
background:#f5f6fa;
}

.title{
font-size:40px;
margin-bottom:30px;
color:#333;
}

.category-layout{
display:flex;
gap:30px;
}

.left-menu{
width:250px;
background:white;
padding:20px;
border-radius:20px;
box-shadow:0 2px 10px rgba(0,0,0,.05);
}

.left-menu a{
display:block;
padding:15px;
text-decoration:none;
color:black;
border-bottom:1px solid #ddd;
border-radius:5px;
transition:.3s;
}

.left-menu a:hover{
background:#ff0202;
color:white;
border-radius:10px;
}

.right-products{
flex:1;

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(230px,1fr));

gap:20px;
}

.card{
background:white;

padding:20px;

border-radius:20px;

text-align:center;

box-shadow:0 8px 25px rgba(0,0,0,.08);

transition:.3s;
}

.card img{
width:100%;
height:220px;

object-fit:cover;

border-radius:15px;
}

.card h3{

margin:15px 0 10px 0;

font-size:18px;

color:#333;
}

.card p{

font-size:20px;

font-weight:bold;

color:#1f6fff;

margin:10px 0;
}

.card button{
margin-top:10px;

background:#000000;

color:white;

border:none;

padding:12px 25px;

border-radius:30px;

cursor:pointer;

transition:.3s;
}

.card button:hover{

background:#1f6fff;
}

.card:hover{
transform:translateY(-8px);

transition:.3s;

box-shadow:0 12px 35px rgba(0,0,0,.15);
}


@media(max-width:768px){

.category-layout{

flex-direction:column;

}

.left-menu{

width:100%;

}

.title{

font-size:28px;
}

}

#contact{

padding:60px 5%;

background:#fff;

text-align:center;
}

#contact h2{

font-size:32px;

margin-bottom:20px;

color:#333;
}

#contact p{

font-size:16px;

color:#666;
}